@font-face{
    font-family: idubbbz;
    src: url(fonts/elementalend/elemental.ttf);
}
body{
    background-color: #fbf9f9;
    color: #201d24;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

/* INDEX or HOMEPAGE */
#home{
    background-image: url("images/redwall.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(134, 4, 52, 0.05);
    color: #fbf9f9;
    font-weight: 300;
}

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #ffdbc5;
}
#nav li {
    float: right;
    width:7%;
}
#nav li a, #name {
    display: block;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fbf9f9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #2d2c2c;
}
#nav #name{
    width: 69%;
    text-align: left;
    padding-left: 0px;
    font-family: "idubbbz";
    font-size: 32px;
    font-weight: bolder;
}

#nav #name:hover{
    background-color: #ffdbc5;
}
#hello{
    font-family: "idubbbz";
    font-weight: 300;
    font-size: 100px;
    color: #fbf9f9;
    text-align: center;
    text-shadow: 0px 0px 8px #fbf9f9;
    margin:auto;
    padding-top: 100px;
}

#welcome{
    margin: auto;
    width: 55%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 24px;
}
#contact{
    width: 100%;
    line-height: 44px;
    text-align: center;
    background-color: #2e112d;
    color: #fbf9f9;
    position: fixed;
    left:0;
    bottom:0;
}

/* The box (aka good stuff ... am I right or am I right, Ms. Terry????) */
#boxed {
    margin-left: 600px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 100px;
    width: 300px;
    height: 100px;
    padding: 50px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #fcfaf9;
    border: 1px solid red;
}

#boxed-text{
    text-align: justify;
    font-family: "idubbbz";
} 

#contact a{
    display: inline-block;
    color: #fbf9f9;
    text-decoration: none;
}

#contact a i{
    color: #fbf9f9;
    vertical-align: middle;
}

#contact2{
    line-height: 48px;
    text-align: center;
    background-color: #201d24;
    color: #fbf9f9;
    position: relative;
    bottom: -8px;
    margin-right: -8px;
    margin-left: -8px;

}
#contact2 a{
    display: inline-block;
    color: #fbf9f9;
    text-decoration: none;
}

#contact2 a i{
    color: #fbf9f9;
    vertical-align: middle;
}
#bts {
    border: solid red 3px;
    margin: 50px;
    padding: 75px;
    text-align: center;
}

#full{
    width: 100%;
    margin: auto;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #201d24;
    text-align: center;
    padding-top: 24px;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #201d24;
}

/********TAKEN FROM W3 SCHOOLS********/
.w3-hover-opacity:hover{
    opacity: 0.60;
    filter: alpha(opacity=60);
    -webkit-backface-visibility: hidden;
}
.w3-hover-opacity{
    -webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
.w3-container{
    padding:0.01em 16px;
}
.w3-container:after,.w3-panel:after,.w3-row:after,.w3-row-padding:after,.w3-topnav:after,.w3-clear:after,.w3-btn-group:before,.w3-btn-group:after,.w3-btn-bar:before,.w3-btn-bar:after
{content:"";display:table;clear:both}

.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s12,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{width:99.99999%}
.w3-third{width:22%}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px;
}
.w3-row-padding{
    margin-left: 64px;
}
.w3-margin-bottom{margin-bottom:16px!important}

.w3-white{text-align: center; font-size: large}