@font-face{
    font-family: idubbbz;
    src: url(fonts/elementalend/elemental.ttf);
}
@font-face{
    font-family: filthyfrank;
    src: url(fonts/moontypeface/moon-light.otf);
}
body{
    background-color: #fbf9f9;
    color: #201d24;
    font-family: 'filthyfrank', sans-serif;
    font-weight: 300;
}

/* INDEX or HOMEPAGE */
#home{
    background-image: url("images/redwall.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #2e112d;
    color: #fbf9f9;
    font-weight: 300;
}

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #ffdbc5;
}
#nav li {
    float: right;
    width:7%;
}
#nav li a, #name {
    display: block;
    line-height: 40px;
    font-family: 'filthyfrank', sans-serif;
    font-weight: 300;
    color: #fbf9f9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #2d2c2c;
}
#nav #name{
    width: 69%;
    text-align: left;
    padding-left: 0px;
    font-family: "idubbbz";
    font-size: 32px;
    font-weight: bolder;
}

#nav #name:hover{
    background-color: #ffdbc5;
}
#hello{
    font-family: "idubbbz";
    font-weight: 300;
    font-size: 100px;
    color: #fbf9f9;
    text-align: center;
    text-shadow: 0px 0px 8px #fbf9f9;
    margin:auto;
    padding-top: 100px;
}


#welcome{
    margin: auto;
    width: 55%;
    font-size: 30px;
    font-family: "filthyfrank", sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 24px;
}
#contact{
    width: 100%;
    line-height: 44px;
    text-align: center;
    background-color: #2e112d;
    color: #fbf9f9;
    position: fixed;
    left:0;
    bottom:0;
}

/* The box (aka good stuff ... am I right or am I right, Ms. Terry????) */
#boxed {
    position: absolute;
    margin: 100px;
    width: 800px;
    height: 600px;
    padding: 20px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #fcfaf9;
}

#boxed-right {
    position: absolute;
    right: 0px;
    top: 93px;
    margin: 100px;
    width: 370px;
    height: 648px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
    font-family: "filthyfrank", sans-serif;
    background-color: #fcfaf9;
}

#boxed-text{
    text-align: center;
    font-family: "idubbbz";
    color: #ffdbc5;
} 
#boxed-text2{
    text-align: center;
    font-family: "idubbbz";
    color: #f9fbff;
    text-shadow: 0px 0px 8px #fbf9f9;
} 
#bottom-about{
    vertical-align: bottom;
    margin-top: 800px;
    margin-left: 125px;
}
#boxed-paragraph{
    font-family: "filthyfrank", sans-serif;
    font-size: 1em;
}

#quote{
    text-align: center;
    color: #999797;
    font-size: 1.35em;
}
#sal{
    text-align: center;
    color: #ffdbc5;
    font-size: 1em;
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}
table {
    border-spacing: 0px;
}
th, td {
    padding: 15px;
    text-align: center;
    color: black;
    font-size: 0.8em;
}
#contact a{
    display: inline-block;
    color: #fbf9f9;
    text-decoration: none;
}

#contact a i{
    color: #fbf9f9;
    vertical-align: middle;
}

#contact2{
    line-height: 48px;
    text-align: center;
    background-color: #201d24;
    color: #fbf9f9;
    position: relative;
    bottom: -8px;
    margin-right: -8px;
    margin-left: -8px;

}
#iamahomosexual{
    font-family: "filthyfrank", sans-serif !important;
    text-align: left !important;
    font-size: 1em;
}

#contact2 a{
    display: inline-block;
    color: #fbf9f9;
    text-decoration: none;
}

#contact2 a i{
    color: #fbf9f9;
    vertical-align: middle;
}


#full{
    width: 100%;
    margin: auto;
}

h1{
    font-family: 'filthyfrank', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #201d24;
    text-align: center;
    padding-top: 24px;
}
p{
    font-family: 'filthyfrank', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #201d24;
}
#medeasfamilyreunion{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
#andynguyen #bill{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
#andynguyen a:hover{
    background-color: #555;
    color: white;
}

#shirogif{
    opacity: 0.5;
}
#sm{
    color: #ffdbc5 !important;
    font-family: "filthyfrank" !important;
    font-size: 1em;
}